* {
    box-sizing: border-box;
  }
  body{
      margin: none;
      
  }
  /* Create four equal columns that floats next to each other */
.column1, .column2, .column3,.column6, .column7, .column9 {
    float: left;
    width: 25%;
    height: 40%;
    border: black solid 1px;
    overflow: hidden;
  }
  .column4, .column5{
      float: left;
      height: 40%;
      border: black solid 1px;
  }
  .column8{
    float: left;
      height: 40%;
      border-left: black solid 1px;
      border-top: black solid 1px;
      border-bottom: black solid 1px;
  }
  .right8{
    border-left: none;
  }
  .left4, .right5, .right8{
      width: 75%;
  }
  .right4, .left5, .left8{
      width: 25%;
  }

  .right1, .right3, .right6{
      width: 50%;
  }

  /* Clear floats */
.row1:after, .row2:after, .row3:after, .row4:after, .row5:after, .row6:after, .row7:after, .row8:after, .row9:after {
    content: "";
    display: table;
     clear: both;
  }

/* mobile small (iphone 3/4/5) ----------- */
@media only screen and (max-width : 320px)  {
  .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 50%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 100%;
     }
     .c1{
      font-size: xx-small;
    }
 
 }
 /* mobile large (android) ----------- */
 @media only screen and (max-width : 685px)  {
    .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 50%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 100%;
     }
     .c3{
       font-size: 30px;
     }
 }
 
 /* ipad portrait ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
    .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 50%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 100%;
     }
     .c1{
       font-size: large;
     }
 }
 /* ipad landscape ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)  {
  .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 25%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 50%;
     }
     .c1{
      font-size: x-large;
    }
 
 }
 /* small displays ----------- */
 @media only screen and (min-width : 600px)  {
    .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 50%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 100%;
     }
     .c1{
      font-size: x-large;
    }
 }
 
 /* 13 inch displays ----------- */
 @media only screen and (min-width : 1224px)  {
  .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 25%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 50%;
     }
     .c1{
       font-size: x-large;
     }
   
 }
 /* 24 inch iMac ----------- */
 @media only screen and (min-width : 1600px) {
  .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 25%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 50%;
     }
   
 }
 /* 27 inch iMac ----------- */
 @media only screen and (min-width : 2400px) {
  .column1, .column2, .column3, .column6, .column7, .column9 {
       width: 25%;
     }
     .left4, .right5, .right8 {
       width: 75%;
     }
     .right4, .left5, .left8 {
       width: 25%;
     }
     .right1, .right3, .right6 {
       width: 50%;
     }
   
 }
 


  @font-face {
    font-family: 'Heading Pro Double Trial';
    src: url('/FONTS/Heading-Pro/Heading-Pro-Double-Heavy-trial.ttf') format('truetype');
  }

  .c1{
    background-color: #ffd933;
    color: black;
    font-family: 'Heading Pro Double Trial';
    padding: 5%;
    line-height: 0.8;
    font-size: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  
  .c3{
    background-color: #ffd933;
    color: black;
    font-family: 'Heading Pro Double Trial';
    line-height: 0.8;  
    padding: 5%;
  }
  .f3{
    -webkit-text-fill-color: #ffd933; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .c3 h2{
    margin: 0;
    font-size: 40px;
    line-height: 0.9;
  }
  .f4, .f6{
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .c4{
    background-color: black ;
    color: #ffd933;
    font-family: 'Heading Pro Double Trial';  
    
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .c6{
    background-color: black ;
    color: #ffd933;
    font-family: 'Heading Pro Double Trial';  
    padding: 5%;
    overflow: hidden;
  }

.c9{
  background-color: #343536;
  color: #ffd933;
  font-family: 'Heading Pro Double Trial'; 
  padding: 5%;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.c9 h2{
  margin: 0;
  font-size: 40px;
  line-height: 0.9;
}

.f9{
  -webkit-text-fill-color: #343536; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.column9 p{
  margin: 5%; 
  line-height: 2; 
  font-family: 'Nunito', sans-serif;
}

#icon9{
  color: black;
  border: 1px solid yellow;
  padding: 0.09em 0.3em;
  font-size: 1.3em;
  text-decoration: none;
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 4em;
	}

  #a9{
    font-family: 'Heading Pro Double Trial';
    color: black;
    margin-left: 5%;

    /*flex*/
    display: flex;
    flex-direction: column;
    /*align-items: center; */
    justify-content: center;
   
  }
  #a9:hover{
    color: white;
  }
  .line {
    height: 6px;
    background-color: black;
    width: 40px;
    margin-left: 5%;
}

.p8{
  font-size: x-large;
  margin:8%;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.p4{
  font-size:medium;
  padding:3%;
  font-family: 'Nunito', sans-serif;
  line-height: 2;

  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

#brand{
  font-family: 'Heading Pro Double Trial';
  color: white;
  font-size: large;
  margin-left: 5%;
  margin-top: 5%;
}

.first{
  color: white;
  line-height: 1.5;
  padding-left: 5px;
}

.right3{
  font-size: large;
  padding: 5%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

/*slideshow*/

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000%;
  position: relative;
  margin: auto;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 8px;
  margin: 0 2px;
  background-color: #424345;
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transform: rotate(30deg);
  
}

.active, .dot:hover {
  background-color: yellow;
}

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

.row5:after {
  content: "";
  clear: both;
  display: table;
}
  
  .column10 {
  float: left;
  width: 22%;
  padding: 5px;
  height: auto;
  overflow: hidden;
}

.slant {
  cursor: pointer;
  height: 20px;
  width: 5px;
  margin: 0 0px;
  background-color: #424345;
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transform: rotate(30deg);
}

.column1 span{
  padding-top: 50px;
  
}

.sidenav {
  height: 40%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Nunito', sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.top1 a{
  color: black;
}
.top1 a:hover{
  color: #ffd933;
}